@{
    ViewBag.Title = "Email Changed error";
}

<h2>Echec de changement de courriel</h2>
<hr />
<div style="font-size:18px">
    Votre adresse de courriel n'a pas été changée.
    <br /><br />
    Cliquez sur le lien ci-dessous pour vous connecter.
    <br /><br />
    Merci et bonne journée,
    <br /><br />
    Webmestre
</div>
@Html.ActionLink("Connexion", "Login")


