@{
    ViewBag.Title = "Email Changed";
}

<h2>Changement de courriel réussi</h2>
<hr />
<div style="font-size:18px">
    Votre adresse de courriel a été changée.
    <br /><br />
    Cliquez sur le lien ci-dessous pour vous connecter.
    <br /><br />
    Merci et bonne journée,
    <br /><br />
    Webmestre
</div>
@Html.ActionLink("Connexion", "Login")
