@model IEnumerable<MoviesDBManager.Models.Distributor>

@foreach (var item in Model)
{
    <a href="@Url.Action("Details","Distributors", new {id=item.Id})">
        <div class="DistributorContainer" title="@item.Name">
            @Helper.Image(item.Logo, "smallLogo")
        </div>
    </a>
}

