@model IEnumerable<ChatManager.Models.User>


@*Each Friends*@
@foreach (var user in Model)
{
    if (user.Id != ChatManager.Models.OnlineUsers.GetSessionUser().Id)
    {
        if (Convert.ToInt32(Session["currentChatTarget"]) != user.Id)
        {
            <div class="unselectedTarget" userid="@user.Id">
                @Helper.AvatarUserWithoutName(user, "UserSmallAvatar")
            </div>
        }
        else
        {
            <div class="selectedTarget" userid="@user.Id">
                @Helper.AvatarUserWithoutName(user, "UserSmallAvatar")
            </div>
        }
    }
}